@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap");

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$principal-font: "Open Sans", sans-serif;
$principal-font-semibold: "Open Sans", sans-serif;
$lettercolor: #54585a;
$iconscolor: #e17334;
