<section class="container containerdesign">
  <div class="design js-legendDesign js-legend" id="designContent">
    <div class="icontitle">
      <i class="far fa-object-ungroup" alt="icon"></i>
      <h4 class="designtitle">Diseña</h4>
    </div>
    <i class="fas fa-chevron-up js-arrowdown-design js_arrows" alt="icon"></i>
  </div>

  <section class="paletteandcolours js-sectionDesign js_content" id="designContent">
    <p class="colourstitle">Colores</p>

    <section class="colours">
      <form class="palettes">
        <input type="radio" value="colours1" id="colours1" name="colourpalette" class="js_colourpalette" checked />
        <input type="radio" value="colours2" id="colours2" name="colourpalette" class="js_colourpalette" />
        <input type="radio" value="colours3" id="colours3" name="colourpalette" class="js_colourpalette" />
      </form>
      <section class="palettescolours">
        <ul class="colours1">
          <li class="palette1 colour1"></li>
          <li class="palette1 colour2"></li>
          <li class="palette1 colour3"></li>
        </ul>
        <ul class="colours2">
          <li class="palette2 colour1"></li>
          <li class="palette2 colour2"></li>
          <li class="palette2 colour3"></li>
        </ul>
        <ul class="colours3">
          <li class="palette3 colour1"></li>
          <li class="palette3 colour2"></li>
          <li class="palette3 colour3"></li>
        </ul>
      </section>
    </section>
  </section>
</section>