<section class="hero">
  <h1 class="hero__section--title">Crea tu tarjeta de visita</h1>
  <p class="hero__section--text">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>

  <nav class="nav-container">
    <ul class="nav-container__list">
      <li class="list-desing">
        <i class="list-desing__icon far fa-object-ungroup"></i>Diseña
      </li>
      <li class="list-desing">
        <i class="list-desing__icon far fa-keyboard"></i>Rellena
      </li>
      <li class="list-desing">
        <i class="list-desing__icon fas fa-share-alt"></i>Comparte
      </li>
    </ul>
  </nav>

  <div class="button_container">
    <a
      class="button_start"
      href="./create_card.html"
      title="Go to create card"
      alt="Go to create card"
      >Comenzar</a
    >
  </div>
</section>
